.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#app-box {
    box-shadow: 0px 5px 20px black;
    border-radius: 10px;
    padding: 10px;
    background: white;
}

#controls {
    box-shadow: 0px 5px 20px black;
    border-radius: 10px;
    padding: 10px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

body {
background: #ef32d9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#title {
  font-family: 'Bungee', cursive;
  font-size: 50px;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

#footer {
    text-align: right;
}

#giphy {
  padding-top: 20px
}

#jonny {

  text-align: center;
  padding-top: 19px;
  font-size: 30px;
}

#url_field {
  margin-top: 10px;
}

#radio_buttons {
  text-align: center;
}
