#Vanilla{
font-size: 20px;


}

#Spicy{
font-size: 20px;


}

#Party{
font-size: 20px;


}

#radio_buttons {
  padding-top: 0px;
  padding-bottom: 15px;

  margin-left: 30px;



}

#buttons {
  padding-bottom: 12px;
  

}
