#Vanilla{
font-size: 20px;


}

#Spicy{
font-size: 20px;


}

#Party{
font-size: 20px;


}

#radio_buttons {
  padding-top: 0px;
  padding-bottom: 15px;

}

#buttons {
  padding-bottom: 12px;

}

.float_center {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}
