#Vanilla{
font-size: 20px;

margin-right: 10px;
}

#Spicy{
font-size: 20px;

margin-right: 10px;
}

#Party{
font-size: 20px;
margin-left: 0px;
margin-right: 10px;
}

#radio_buttons {
  padding-top: 0px;
  padding-bottom: 15px;

}

#buttons {
  padding-bottom: 12px;
}
