
#container {
    width: 100%;
    margin: 0 auto;

}

#primary {
    float: left;
    width: 34%;
    height:100vh;
    background-color: #FF0000;

}

#content {
    float: left;
    width: 33%;
    height:100vh;
    background-color: #FF0000;
}

#secondary {
    float: left;
    width: 33%;
    height:100vh;
    background-color: #FF0000;
}

#footer {
    clear: boh;
}

#title {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.background-image {
  width: 100%;
  object-fit: cover;


}

#text_1_vanilla {
   position: absolute;
   top: 40%;
   left: %;
   width: 33%;
   color: white;
   font-family: 'Bangers', cursive;
   font-size: 6vw;
   text-align: center;
   -webkit-text-stroke: 0.2vw black;

}

#text_2_vanilla {
   position: absolute;
   top: 40%;
   left: auto;
   width: 34%;
   color: white;
   font-family: 'Bangers', cursive;
   font-size: 6vw;
   text-align: center;
   -webkit-text-stroke: 0.2vw black;
}

#text_3_vanilla {
   position: absolute;
   top: 40%;
   width: 33%;
   color: white;
   font-family: 'Bangers', cursive;
   font-size: 6vw;
   text-align: center;
   -webkit-text-stroke: 0.2vw black;
}

#text_1_spicy {
   position: absolute;
   top: 40%;
   left: %;
   width: 33%;
   color: black;
   font-family: 'Russo One', sans-serif;
   font-size: 6vw;
   text-align: center;
   -webkit-text-stroke: 0.07vw white;
   text-transform: uppercase;
   text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),
   0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#text_2_spicy {
   position: absolute;
   top: 40%;
   left: auto;
   width: 34%;
   color: black;
   font-family: 'Russo One', sans-serif;
   font-size: 6vw;
   text-align: center;
   -webkit-text-stroke: 0.07vw white;
   text-transform: uppercase;
   text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),
   0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);

}

#text_3_spicy {
   position: absolute;
   top: 40%;
   width: 33%;
   left: auto;
   color: black;
   font-family: 'Russo One', sans-serif;
   font-size: 6vw;
   text-align: center;
   -webkit-text-stroke: 0.07vw white;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

div.horizontal {
    display: flex;
    justify-content: center;
}

div.vertical {
    display: flex;
    justify-content: center;
}

div.div3 {
    width: 100%;
    height: 100%;
}

div.div3#gif_1_spicy {
    width: 100%;
    height: 100%;
    opacity:0.5;
}
div.div3#gif_2_spicy {
    width: 100%;
    height: 100%;
    opacity:0.5;
}

div.div3#gif_3_spicy {
    width: 100%;
    height: 100%;
    opacity:0.5;
}

#watermark
{
  position:absolute;
       bottom:4px;
       right:3px;
       zoom: 0.8;
}

#loading {
  margin-top: 5vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#loadingText {

text-align: center;

}
